<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
  <context:component-scan base-package="org.modzila.dave.controller,org.modzila.dave.bo,org.modzila.dave.dao" />

  <mvc:annotation-driven conversion-service="conversionService" />
  <mvc:default-servlet-handler />

  <mvc:interceptors>
    <mvc:interceptor>
      <mvc:mapping path="/api/**"/>
      <bean class="org.modzila.dave.ConsoleHandlerInterceptor">                
      </bean>
    </mvc:interceptor>
  </mvc:interceptors>

  <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
    <property name="formatters">
      <list>
        <bean class="org.modzila.dave.DateRangeAnnotationFormatterFactory">
        </bean>
      </list>
    </property>
  </bean>

  <bean id="dashboardHome" class="java.lang.String">
    <constructor-arg>
      <value>data/dashboard</value>
    </constructor-arg>
  </bean>

  <bean id="widgetHome" class="java.lang.String">
    <constructor-arg>
      <value>data/widget</value>
    </constructor-arg>
  </bean>

  <bean id="teamPath" class="java.lang.String">
    <constructor-arg>
      <value>data/path.xml</value>
    </constructor-arg>
  </bean>

  <bean id="kettleHome" class="java.lang.String">
    <constructor-arg>
      <value>data/datasource</value>
    </constructor-arg>
  </bean>
</beans>
