<div class="panel panel-default" style="border: none !important;box-shadow: none !important">
  <div class="dave-header">
    <nav class="table-title">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="panel-title">
            <i class="fa fa-table" style="margin-right: 10px;"></i>
            <span></span>
          </div>
        </div>
        <ul class="nav navbar-nav pull-right">
          <li>
            <a href="javascript:void(0);" class="dave-table-filter dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-filter"></i>
            </a>
            <ul class="table-filter-menu dropdown-menu dropdown-menu-right">
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="dave-body dave-table">
    <div class="dave-content">
      <div class="widget-container">
      </div>
    </div>
  </div>
</div>
